{% extends 'main.html' %}
{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Parolni yangilash jo'natildi!</h3>

            <p>Agar siz kiritgan e-pochtada hisob mavjud boʻlsa, parolni oʻrnatish boʻyicha koʻrsatmalarni elektron pochta orqali yubordik. Siz ularni qisqa vaqt ichida olishingiz kerak.</p>
            <br>
            <p>Agar siz elektron pochta xabarini olmagan bo'lsangiz, ro'yxatdan o'tgan manzilingizni kiritganingizga ishonch hosil qiling va spam bo'limni tekshiring.</p>
        </div>
    </div>
</main>

{% endblock content %}